<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title>Suppression du compte</title>
</head>
<body>
	<div layout:fragment="content" class="row my-5">
		<div class="col-6 offset-3">
			<div class="card card-outline-secondary">
				<div class="card-header text-center">
					<h3 class="mb-0">Suppression du compte</h3>
				</div>
				<div class="card-body">
				
					<div class="row justify-content-center">
						<a href="suppressionCompteConfirm" class="btn btn-primary my-1">Supprimer
							le compte</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>