<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title>Vérification du jeton</title>
</head>
<body>
	<div layout:fragment="content" class="row my-5">
		<div class="col-6 offset-3">
			<div class="card card-outline-secondary">
				<div class="card-header text-center">
					<h3 class="mb-0">Vérification du jeton</h3>
				</div>
				<div class="card-body">

					<p class="card-text text-center">Veuillez renseigner le jeton reçu par email.</p>

					<form th:action="@{/validateToken}" method="post">

						<div th:if="${exception}" class="row justify-content-center">
							<span class="alert alert-danger"
								th:text="${exception.getFaultInfo().getInfo().getFaultString()}"></span>
						</div>

						<div class="form-group">
							<label>Jeton :</label> <input class="form-control"
								type="text" name="token" />
						</div>

						<div class="row justify-content-center">
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>