<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Condition d'utilisation</title>
</head>
<body>

	<div layout:fragment="content">
		<!-- <h1 th:text="#{et}"></h1> -->

		<div class="row text-center my-5">
			<div class="col">
				<h1>Condition d'utilisation</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-10 offset-1">
				<h2>Inscription et sécurité</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-10 offset-1">
				<ul>
					<li>Vous n'utiliserez pas un nom d'utilisateur non conforme,
						nous nous réservons le droit de désactiver le compte si nous le
						jugeons inapproprié.</li>
					<li>Vous pouvez utiliser une adresse email jetable.</li>
					<li>Vous pouvez demander la désactivation de votre compte par
						le menus "Mon compte".</li>
					<li>Vous ne communiquerez pas votre mot de passe, ne laisserez
						personne accéder à votre compte ou ne ferez quoi que ce soit qui
						puisse compromettre la sécurité de votre compte.</li>
					<li>Les informations que vous nous transmettez lors de votre
						inscription sont confidentielles et ne sont diffusées sous aucun
						prétexte.</li>
					<li>Vous ne demanderez pas les informations de connexion et
						n'accéderez pas à un compte appartenant à quelqu'un d'autre sans
						son autorisation.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-10 offset-1">
				<h2>Conditions d'emprunt</h2>
			</div>
		</div>
		<div class="row margeBottom">
			<div class="col-10 offset-1">
				<ul>

					<li>Nous vous prions de bien vouloir respecter les dates de
						fin d'emprunts.</li>
					<li>Un e-mail vous sera automatiquement envoyé dans le cas
						d'un retard de date.</li>
					<li>Chaque emprunt peut faire l'objet d'une extention de
						date, dans le cas où celui-ci ne sera pas en retard après rallonge
						du délais.</li>
				</ul>
			</div>
		</div>


	</div>

</body>
</html>